<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings file="..\..\AppSettings.Secrets.user">
        
        <!--The AAD UPN of the user accessing the cube-->
        <add key="ClientID" value="xxxxxxxxxxxx"/>
        <add key="ClientSecret" value="xxxxxxxxxxxxxxxxx"/>
        <add key="TenantID" value="xxxxxxxxxxxxxxxxxxxxx"/>

        <add key="Query" value="evaluate(Product)"/>

        <!--The location of the Microsoft.Samples.AzureAnalysisServices.Http endpoint to test-->
        <add key="Host" value="localhost"/>
        <add key="HttpPort" value="54430"/>
        <add key="HttpsPort" value="44339"/>


    </appSettings>
</configuration>